@model Student
<div>Id:@Model.Id  value="@Model.Id"</div>
<div>FirstName:@Model.FirstName  value="@Model.FirstName"</div>
<div>LastName:@Model.LastName  value="@Model.LastName"</div>
<div>MatricNumber:@Model.MatricNumber  value="@Model.MatricNumber"</div>
<div>Department:@Model.Department  value="@Model.Department"</div>
<div>Gender:@Model.Gender  value="@Model.Gender"</div>
<div>School:@Model.School  value="@Model.School"</div>
<div>Age:@Model.Age  value="@Model.Age"</div>
<div>
        <button>Submit</button>
    </div>